<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
  <title>Taco Cloud</title>
</head>

<body>
  <form method="POST" th:action="@{/order}" th:object="${order}">
    <h1>Order your taco creations!</h1>
    <a th:href="@{/design}" id="another">Design another taco</a><br/>
    <div th:if="${#fields.hasErrors()}">
                  <span class="validationError">
                      Please correct the problems below and resubmit.
                  </span>
    </div>
    <h3>Deliver my taco masterpieces to...</h3>

    <label th:th:for="deliveryName">Name: </label>
    <input type="text" th:field="*{deliveryName}"/>
    <br/>

    <label th:for="deliveryStreet">Street address: </label>
    <input type="text" th:field="*{deliveryStreet}"/>
    <br/>

    <label th:for="deliveryCity">City: </label>
    <input type="text" th:field="*{deliveryCity}"/>
    <br/>

    <label th:for="deliveryState">State: </label>
    <input type="text" th:field="*{deliveryState}"/>
    <br/>

    <label th:for="deliveryZip">Zip code: </label>
    <input type="text" th:field="*{deliveryZip}"/>
    <br/>

    <h3>Here's how I'll pay...</h3>

    <label th:for="ccNumber">Credit Card #: </label>
    <input type="text" th:field="*{ccNumber}"/>
    <br/>

    <label th:for="ccExpiration">Expiration: </label>
    <input type="text" th:field="*{ccExpiration}"/>
    <br/>

    <label th:for="ccCVV">CVV: </label>
    <input type="text" th:field="*{ccCVV}"/>
    <br/>
    <br/>
    <input type="submit" value="Submit order"/>
  </form>
</body>
</html>